VITE_API_BASE_URL=http://localhost:5000
VITE_CHAIN_ID=31337
VITE_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
VITE_EXPLORER_BASE=

# Vercel frontend example:
# VITE_API_BASE_URL=https://your-backend.onrender.com
# VITE_CHAIN_ID=11155111
# VITE_CONTRACT_ADDRESS=0xYourSepoliaContractAddress
# VITE_EXPLORER_BASE=https://sepolia.etherscan.io/address/0xYourSepoliaContractAddress
